---
---

@import "{{ site.theme }}";
body {
  background-color: #1f1f1f;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}
a {
  color:#292e0b;
  text-decoration:none;
}
a:hover, a:focus {
  color:#5b6328;
  font-weight: bold;
}
